ipykernel
matplotlib
numpy==1.26.4
pandas
scikit-learn
torch
imutils 
opencv-python
seaborn
transformers
wandb
gradio
torchtext
pip-tools
nltk
gensim
fastapi
uvicorn
datasets
joblib
ngrok
